{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h3 class="mb-4 text-center">Сменить пароль</h3>
    <div class="row justify-content-center">
        <div class="col-md-6" style="max-width: 400px;">
            <form method="POST">
                <div class="mb-3">
                    <label for="current_password" class="form-label">Текущий пароль</label>
                    <input type="password" name="current_password" id="current_password" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label for="new_password" class="form-label">Новый пароль</label>
                    <input type="password" name="new_password" id="new_password" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label for="confirm_password" class="form-label">Подтверждение пароля</label>
                    <input type="password" name="confirm_password" id="confirm_password" class="form-control" required>
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-success">Сменить</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
